.profile {
    background-color: #1d2229;
    margin-top: 90px;
    font-size: 20px;
    padding: 60px;
}

.profile_wrap {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

.profile__form {
    background-color: #2c323a;
    border-radius: 5px;
    padding: 15px 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Roboto", sans-serif;
    color: #fff;
}

.trainer__wrap button {
    margin-top: auto;
}

.profile__form button {
    margin-top: auto;
    background-color: #a1f65e;
}

.trainer__wrap img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 5px;
    margin-bottom: 24px;
}

.trainer__wrap .trainer {
    cursor: pointer;
    background-color: #2c323a;
    transition: 0.2s all;
    display: flex;
    flex-direction: column;
}

.trainer__wrap .trainer:hover {
    transform: scale(0.95);
}

.trainer__wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 14px;
    margin-top: 50px;
    color: #fff;
}

.trainer__wrap li {
    padding: 15px 20px;
    background-color: #fff;
    border-radius: 5px;
    min-height: 400px;
}

.trainer__wrap button {
    display: none;
}

.trainer__wrap:hover button {
    display: block;
    width: 100%;
    padding: 15px 20px;
    color: #1d2229;
    background-color: #a1f65e;
}

.trainer__wrap button:disabled {
    cursor: not-allowed;
    background-color: grey;
}


.profile_wrap__shedule_name {
    display: flex;
    gap: 14px;
    align-items: center;
}

.profile_wrap__value {
    color: #6a6a6a;
}

.profile__form__title {
    font-size: 25px;
}



.adminTrainer img, .adminTeacherImg {
    width: 50px;
    height: 50px;
    object-fit: cover;
}

.adminTrainer {
    display: flex;
    justify-content: start;
    gap: 24px;
}

.adminTable {
    margin-top: -90px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    margin-bottom: 50px;
}
  
  .adminTable img {
    width: 100%;
    margin-bottom: 10px;
    height: 370px;
    object-fit: cover;
  }
  
  .adminTable p {
    width: 80%;
    margin: 10px 0;
    color: var(--four);
  }
  
  .adminTable a {
    color: var(--two);
  }

  .adminTable button {
    width: 100%;
    margin-top: 15px;
  }

  .adminTable h3 {
    color: #fff;
  }

  .adminTableDelete {
    background-color: #ff6464;
  }

  .profileAdmin {
    background-color: #1d2229;
    margin-top: 90px;
    font-size: 20px;
  }

  .adminAddTeacher {
    background-color: #fff;
  }

  .profileAdminTitle {
    font-size: 56px;
    font-weight: bold;
    text-align: center;
    color: #fff;
  }

.adminCalendar {
    display: flex;
    justify-content: start;
    gap: 25px;
}

.adminTIMES {  
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999999;
}

.modal, .modalCreate {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 50px;
    border-radius: 20px;
    background-color: #fff;
    width: 650px;
    height: 500px;
    padding: 40px 35px;
}

.modal button {
    margin-top: auto;
    width: 100%;
}

.modal span {
    font-size: 30px;
}

.modalCreate {
    height: 90vh;
    overflow-y: auto;
    gap: 24px;
}

.modalCreate button {
    margin-top: auto;
    width: 100%;
}

.modalCreate input {
    height: 52px;
}
.modalCreate input::placeholder{
    color: #fff !important;
}

.createTrainer {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.createTrainer input {
    width: 250px;
}
.profile__form_btn {
    background-color: #ff6464 !important;
}

.modalCreate__time {
    display: flex;
    justify-content: start;
    gap: 14px;
}

.modalWrap {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 999;
}

.modalT {
    background-color: #fff;
    border-radius: 10px;
    width: 550px;
    padding: 40px 20px;
}

.modalText {
    font-size: 28px;
    text-align: center;
}