.RegistrationPage {
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;
    background: linear-gradient(rgb(255, 255, 255), rgb(147, 0, 125));
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.RegistrationPage__form {
    width: 500px;
    display: flex;
    flex-direction: column;
    gap: 42px;
}

h2 {
    font-size: 50px;
}

input {
    width: 100%;
    height: 40px;
    padding: 15px 25px;
}

button {
    cursor: pointer;
    background-color: #32f18e;
    transition: 0.2s all;
    font-size: 24px;
    font-weight: bold;
}

button:hover {
    background-color: #e70c0c;
    transform: scale(0.95);
}

.RegistrationPage__error {
    margin-top: 15px;
    color: #f13232;
    text-align: center;
}