.RegistrationPage {
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: start;
    gap: 50px;
    color: #fff;
    background-color: #1d2229;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.RegistrationPage__form {
    width: 650px;
    display: flex;
    flex-direction: column;
    gap: 42px;
}

h2 {
    font-size: 50px;
    margin-bottom: 24px;
    text-align: center;
    margin-top: 40px;
}

input {
    width: 100%;
    height: 60px;
    padding: 15px 25px;
    font-size: 26px;
    background-color: #2c323a;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
}

button {
    cursor: pointer;
    background-color: #a1f65e;
    transition: 0.2s all;
    font-size: 24px;
    font-weight: bold;
    height: 60px;
    border-radius: 5px;
}

button:hover {
    transform: scale(0.95);
}

.RegistrationPage__error {
    margin-top: 15px;
    color: #f13232;
    text-align: center;
}

.RegistrationPage__type {
    text-decoration: underline;
    margin-top: 25px;
    cursor: pointer;
    text-align: center;
    color: #6a6a6a;
}